name: DevSecOps Pipeline

on:
  push:
    branches:
      - main
  pull_request:

env:
  REGISTRY: ghcr.io
  IMAGE_TAG: ${{ github.sha }}
  NODE_VERSION: "18"

jobs:
  lint_and_test:
    name: Lint and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm test

  sast:
    name: SAST Scan (Semgrep)
    needs: lint_and_test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Semgrep
        run: |
          python3 -m pip install --upgrade pip
          pip install semgrep

      - name: Run Semgrep
        run: semgrep --config p/ci --error

  build_and_scan:
    name: Build Image & Scan with Trivy
    needs: sast
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Set lowercase vars
        id: vars
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          REPO=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')

          echo "owner=$OWNER" >> $GITHUB_OUTPUT
          echo "repo=$REPO" >> $GITHUB_OUTPUT

      - name: Build image
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ steps.vars.outputs.repo }}:${{ env.IMAGE_TAG }} .

      - name: Security Scan with Trivy (Critical gate)
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: ${{ env.REGISTRY }}/${{ steps.vars.outputs.repo }}:${{ env.IMAGE_TAG }}
          severity: CRITICAL
          vuln-type: 'os,library'
          exit-code: '1'
          ignore-unfixed: true
          format: 'table'

      - name: Push Image to GHCR
        if: success() && github.ref == 'refs/heads/main'
        run: |
          docker push ${{ env.REGISTRY }}/${{ steps.vars.outputs.repo }}:${{ env.IMAGE_TAG }}

